.form{
  color: black;
}

.form .task-inp{
  border: 1px solid black;
}

.alert-blue{
  background-color: rgba(0, 213, 255, 0.678);
}

.alert-green{
  background-color: rgba(0, 255, 170, 0.619);
}

.alert-purple{
  background-color: rgba(174, 0, 255, 0.532);
}

.alert-gray{
  background-color: #CED4DA;
}